@using MicroShop.Dto.CatologDtos.SpecialOfferDtos
@model UpdateSpecialOfferDto
@{
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>New Offer</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input  type="hidden" asp-for="SpecialOfferId"/>
                        <label>Title Name</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label> Sub Title Name</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label> img Name</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <br />
                        <button class="btn btn-primary"> Add New Offer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

