@using MicroShop.Dto.CatologDtos.FeatureSliderDtos
@model UpdateFeatureSliderDto
@{
    ViewData["Title"] = "UpdateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}




<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update Feature Image</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="FeatureSliderID"/>
                        <label>Image Name</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Image Description</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Image link</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />

                        <br />
                        <button class="btn btn-primary"> Update Feature</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


